//- body.jade
//- This file provides the HTML body part.


body
  table
    tr
      td(style= "width:30%;" )
        img(src="/images/newapp-icon.png")
      td
        h1 Hi there, learning app, still in progress!
        h3 MongoDB + NodeJS + Dedicated BM with API Calls demo by Daniel Abrao
            p 'When "/api/insertMessage" is called, messages will be written to database'
            p 'When "/api/render" is called, the inserted message will be shown'.
            p 'When "/api/delete" is called, all messages will be deleted' (send it via POST).
            
            
