<div class="container" ng-controller="HomeCtrl">
  <div class="page-header">
    <h3>This is a Learning App made with IBM Bluemix + MEAN</h3>
  </div>


  <p class="lead">

  <p class="lead">This app comes integrated with
    <code>/api/insertmessage</code> To insert a message <button ng-click="insert()">get</button><br />
    <code>/api/render</code> To display all messages <a href="#/page1"><button>get</a></button> <br />
    <code>/api/delete</code> <button ng-click="delete()">post</button>To delete all messages<br />
  </p>


</div>
