<legend>Login Form</legend>

<div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.username">
</div>

<div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="password" ng-model="user.password">
</div>

<button type="button" ng-click="login()" class="btn btn-primary">Submit</button>

<br />
Name:<input type="text" id="reg_name" ng-model="userToAdd.name">
Username:<input type="text" id="reg_user" ng-model="userToAdd.username">
Password:<input type="password" id="reg_pass" ng-model="userToAdd.password">
<button type="button" ng-click="createUser()" class="btn btn-primary">Submit</button>
